---
import * as m from "../paraglide/messages.js"
---

<section class="cta">
	<div class="cta__container">
		<div class="cta__content">
			<h2 class="cta__title">{m.ctaTitle()}</h2>
			<form class="cta__form" action="#" method="POST">
				<input type="tel" name="phone" data-error={m.errorFieldEmpty()} placeholder={m.phoneNumber()} pattern="\d*" title={m.titleOnlyNumbers()} class="input" data-validate="" required="">
				<button type="submit" class="button">{m.sendRequest()}</button>
			</form>
		</div>
	</div>
</section>