---
import * as m from "../paraglide/messages.js"
---

<section class="faq">
	<div class="faq__container">
		<h2 class="faq__title title">{m.faqTitle()}</h2>
		<div class="spollers _spoller-init" data-spollers="" data-one-spoller="">
			<details class="spollers__item">
				<summary class="spollers__title">{m.faqQuestion1()}<span></span></summary>
				<div class="spollers__body" hidden="">
					<p>{m.faqAnswer1Intro()}</p>
					<ul>
						<li><span>{m.faqAnswer1Point1Title()}</span> {m.faqAnswer1Point1Text()}</li>
						<li><span>{m.faqAnswer1Point2Title()}</span> {m.faqAnswer1Point2Text()}</li>
						<li><span>{m.faqAnswer1Point3Title()}</span> {m.faqAnswer1Point3Text()}</li>
						<li><span>{m.faqAnswer1Point4Title()}</span> {m.faqAnswer1Point4Text()}</li>
						<li><span>{m.faqAnswer1Point5Title()}</span> {m.faqAnswer1Point5Text()}</li>
					</ul>
				</div>
			</details>
			<details class="spollers__item" data-open="" open="">
				<summary class="spollers__title _spoller-active">{m.faqQuestion2()}<span></span></summary>
				<div class="spollers__body">
					<p>{m.faqAnswer2Intro()}</p>
					<ul>
						<li><span>{m.faqAnswer2Point1Title()}</span> {m.faqAnswer2Point1Text()}</li>
						<li><span>{m.faqAnswer2Point2Title()}</span> {m.faqAnswer2Point2Text()}</li>
						<li><span>{m.faqAnswer2Point3Title()}</span> {m.faqAnswer2Point3Text()}</li>
						<li><span>{m.faqAnswer2Point4Title()}</span> {m.faqAnswer2Point4Text()}</li>
					</ul>
				</div>
			</details>
			<details class="spollers__item">
				<summary class="spollers__title">{m.faqQuestion3()}<span></span></summary>
				<div class="spollers__body" hidden="">
					<p>{m.faqAnswer3Intro()}</p>
					<ul>
						<li><span>{m.faqAnswer3Point1Title()}</span> {m.faqAnswer3Point1Text()}</li>
						<li><span>{m.faqAnswer3Point2Title()}</span> {m.faqAnswer3Point2Text()}</li>
						<li><span>{m.faqAnswer3Point3Title()}</span> {m.faqAnswer3Point3Text()}</li>
						<li><span>{m.faqAnswer3Point4Title()}</span> {m.faqAnswer3Point4Text()}</li>
					</ul>
				</div>
			</details>
			<details class="spollers__item">
				<summary class="spollers__title">{m.faqQuestion4()}<span></summary>
				<div class="spollers__body" hidden="">
					<p>{m.faqAnswer4Intro()}</p>
					<ul>
						<li><span>{m.faqAnswer4Point1Title()}</span> {m.faqAnswer4Point1Text()}</li>
						<li><span>{m.faqAnswer4Point2Title()}</span> {m.faqAnswer4Point2Text()}</li>
						<li><span>{m.faqAnswer4Point3Title()}</span> {m.faqAnswer4Point3Text()}</li>
						<li><span>{m.faqAnswer4Point4Title()}</span> {m.faqAnswer4Point4Text()}</li>
					</ul>
				</div>
			</details>
			<details class="spollers__item">
				<summary class="spollers__title">{m.faqQuestion5()}<span></summary>
				<div class="spollers__body" hidden="">
					<p>{m.faqAnswer5Intro()}</p>
					<ul>
						<li><span>{m.faqAnswer5Point1Title()}</span> {m.faqAnswer5Point1Text()}</li>
						<li><span>{m.faqAnswer5Point2Title()}</span> {m.faqAnswer5Point2Text()}</li>
						<li><span>{m.faqAnswer5Point3Title()}</span> {m.faqAnswer5Point3Text()}</li>
						<li><span>{m.faqAnswer5Point4Title()}</span> {m.faqAnswer5Point4Text()}</li>
					</ul>
				</div>
			</details>
		</div>
	</div>
</section>