---
import * as m from '../paraglide/messages.js';
import { Icon } from 'astro-icon/components';
---

<section class="projects">
	<div class="projects__container">
		<div class="projects__title-wrapper">
			<h2 class="projects__title title">{m.completedProjects()}</h2>
			<a href="#" class="projects__button button _icon-arrow-up-right">{m.allProjects()}</a>
		</div>
		<ul class="projects__slides">
			<li class="projects__slide">
				<img src="images/portfolio-01.webp" alt="Project">
				<div class="projects__slide-content content-slide">
					<div class="content-slide__details">
						<div class="content-slide__text">
							<span>{m.healthcare()}</span>
							<a href="#">{m.healthcareInstitutions()}</a>
						</div>
						<a href="#" class="content-slide__icon _icon-arrow-up-right">
							<Icon name="arrowUpRight" class="projects-arrow-up-right"/>
						</a>
					</div>
				</div>
			</li>
			<li class="projects__slide">
				<img src="images/portfolio-02.webp" alt="Project">
				<div class="projects__slide-content content-slide">
					<div class="content-slide__details">
						<div class="content-slide__text">
							<span>{m.housing()}</span>
							<a href="#">{m.eliteHouseRenovation()} />
						</div>
						<a href="#" class="content-slide__icon _icon-arrow-up-right">
							<Icon name="arrowUpRight" class="projects-arrow-up-right"/>
						</a>
					</div>
				</div>
			</li>
			<li class="projects__slide">
				<img src="images/portfolio-03.webp" alt="Project">
				<div class="projects__slide-content content-slide">
					<div class="content-slide__details">
						<div class="content-slide__text">
							<span>{m.publicPlaces()}</span>
							<a href="#">{m.culturalSportsCenter()}</a>
						</div>
						<a href="#" class="content-slide__icon _icon-arrow-up-right">
							<Icon name="arrowUpRight" class="projects-arrow-up-right"/>
						</a>
					</div>
				</div>
			</li>
			<li class="projects__slide">
				<img src="images/portfolio-04.webp" alt="Project">
				<div class="projects__slide-content content-slide">
					<div class="content-slide__details">
						<div class="content-slide__text">
							<span>{m.industry()}</span>
							<a href="#">{m.industrialWarehouse()}</a>
						</div>
						<a href="#" class="content-slide__icon _icon-arrow-up-right">
							<Icon name="arrowUpRight" class="projects-arrow-up-right"/>
						</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>
