---
import * as m from "../paraglide/messages.js"
---

<section class="stages">
	<div class="stages__container">
		<h2 class="stages__title title">{m.stages2Title()}</h2>
		<ul class="stages__items">
			<li class="stages__item">
				<span class="stages__number">01</span>
				<h3>{m.stage1Title()}</h3>
				<p>{m.stage1Description()}</p>
			</li>
			<li class="stages__item">
				<span class="stages__number">02</span>
				<h3>{m.stage2Title()}</h3>
				<p>{m.stage2Description()}</p>
			</li>
			<li class="stages__item">
				<span class="stages__number">03</span>
				<h3>{m.stage3Title()}</h3>
				<p>{m.stage3Description()}</p>
			</li>
			<li class="stages__item">
				<span class="stages__number">04</span>
				<h3>{m.stage4Title()}</h3>
				<p>{m.stage4Description()}</p>
			</li>
		</ul>
	</div>
</section>